<a href="https://colab.research.google.com/github/annakthrnlee/Neural_Network_Charity_Analysis/blob/main/AlphabetSoupCharity_Optimzation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
### Deliverable 3

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import pandas as pd 

# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

In [6]:
# Import and read the charity.csv - google colab style ;)
from google.colab import files
 
 
uploaded = files.upload()

Saving charity_data.csv to charity_data (1).csv

In [8]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Determine the number of unique values in each column
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [11]:
# Look at APPLICATION_TYPE value counts for binning
application_value_counts = application_df.loc[:, "APPLICATION_TYPE"].value_counts()
application_value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_value_counts[application_value_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [13]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df.loc[:, "CLASSIFICATION"].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [14]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_value_counts[classification_value_counts < 500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [15]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [16]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3600

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,061
Trainable params: 6,061
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}hdf5"

In [23]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5)

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5715 - accuracy: 0.7217
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7276
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7295
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7308
Epoch 5/100
803/804 [============================>.] - ETA: 0s - loss: 0.5494 - accuracy: 0.7305
Epoch 5: saving model to checkpoints/weights.05hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7306
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7321
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7325
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7320
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7319
Epoch 10/100
792/804 [============================>.] - ETA: 0s - loss: 0.5450 - accuracy: 0.7313
Epoch 10: saving model to checkpoints/weights.10hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7315
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7325
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7335
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7333
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7337
Epoch 15/100
780/804 [============================>.] - ETA: 0s - loss: 0.5446 - accuracy: 0.7333
Epoch 15: saving model to checkpoints/weights.15hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7346
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7351
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7342
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7356
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 20/100
804/804 [==============================] - ETA: 0s - loss: 0.5414 - accuracy: 0.7358
Epoch 20: saving model to checkpoints/weights.20hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7358
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7357
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7359
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7366
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7362
Epoch 25/100
802/804 [============================>.] - ETA: 0s - loss: 0.5402 - accuracy: 0.7362
Epoch 25: saving model to checkpoints/weights.25hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7364
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7361
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7365
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7364
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7364
Epoch 30/100
794/804 [============================>.] - ETA: 0s - loss: 0.5384 - accuracy: 0.7379
Epoch 30: saving model to checkpoints/weights.30hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7377
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7380
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7365
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7366
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7373
Epoch 35/100
788/804 [============================>.] - ETA: 0s - loss: 0.5383 - accuracy: 0.7385
Epoch 35: saving model to checkpoints/weights.35hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7387
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5379 - accuracy: 0.7375
Epoch 37/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5376 - accuracy: 0.7379
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7379
Epoch 40/100
803/804 [============================>.] - ETA: 0s - loss: 0.5374 - accuracy: 0.7389
Epoch 40: saving model to checkpoints/weights.40hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7390
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7392
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7395
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7375
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7387
Epoch 45/100
790/804 [============================>.] - ETA: 0s - loss: 0.5363 - accuracy: 0.7385
Epoch 45: saving model to checkpoints/weights.45hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7385
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7391
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7379
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7397
Epoch 50/100
795/804 [============================>.] - ETA: 0s - loss: 0.5361 - accuracy: 0.7395
Epoch 50: saving model to checkpoints/weights.50hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7391
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7391
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7405
Epoch 54/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5354 - accuracy: 0.7395
Epoch 55/100
798/804 [============================>.] - ETA: 0s - loss: 0.5359 - accuracy: 0.7389
Epoch 55: saving model to checkpoints/weights.55hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.5358 - accuracy: 0.7389
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7379
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7394
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7392
Epoch 60/100
795/804 [============================>.] - ETA: 0s - loss: 0.5351 - accuracy: 0.7407
Epoch 60: saving model to checkpoints/weights.60hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7399
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7393
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7383
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7397
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7388
Epoch 65/100
804/804 [==============================] - ETA: 0s - loss: 0.5349 - accuracy: 0.7393
Epoch 65: saving model to checkpoints/weights.65hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7393
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7389
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7404
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7398
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7401
Epoch 70/100
798/804 [============================>.] - ETA: 0s - loss: 0.5352 - accuracy: 0.7399
Epoch 70: saving model to checkpoints/weights.70hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7399
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7397
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7396
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7401
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7396
Epoch 75/100
785/804 [============================>.] - ETA: 0s - loss: 0.5352 - accuracy: 0.7396
Epoch 75: saving model to checkpoints/weights.75hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7402
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7398
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7392
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7404
Epoch 80/100
799/804 [============================>.] - ETA: 0s - loss: 0.5336 - accuracy: 0.7409
Epoch 80: saving model to checkpoints/weights.80hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7405
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7402
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7408
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7411
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7406
Epoch 85/100
795/804 [============================>.] - ETA: 0s - loss: 0.5336 - accuracy: 0.7399
Epoch 85: saving model to checkpoints/weights.85hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7399
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7398
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7399
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7404
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7404
Epoch 90/100
790/804 [============================>.] - ETA: 0s - loss: 0.5338 - accuracy: 0.7404
Epoch 90: saving model to checkpoints/weights.90hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7400
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7407
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7401
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7411
Epoch 95/100
800/804 [============================>.] - ETA: 0s - loss: 0.5333 - accuracy: 0.7404
Epoch 95: saving model to checkpoints/weights.95hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7405
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7410
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7401
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7407
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7411
Epoch 100/100
804/804 [==============================] - ETA: 0s - loss: 0.5328 - accuracy: 0.7401
Epoch 100: saving model to checkpoints/weights.100hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7401

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5591 - accuracy: 0.7292 - 506ms/epoch - 2ms/step
Loss: 0.5591307282447815, Accuracy: 0.7292128205299377